/* Base Styles */
body {
  font-family: 'Arial', sans-serif;
  background-size: cover; /* Giữ tỷ lệ của hình nền */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url('https://i.imgur.com/VBRoP6M.png'); /* URL hình nền cho điện thoại */
  overflow-x: hidden; /* Tránh cuộn ngang nếu nội dung mở rộng */
  height: 100%; /* Giữ chiều cao toàn màn hình */
}

/* Hình nền cho máy tính và các thiết bị có độ rộng từ 768px trở lên */
@media (min-width: 768px) {
  body {
    background-image: url('https://i.imgur.com/V7w4mwB.png'); /* URL hình nền cho máy tính */
  }
}

/* Đảm bảo các thư mục con không làm thay đổi layout */
.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.hidden.open {
  max-height: 500px; /* Hoặc giá trị phù hợp */
  overflow: auto; /* Cho phép cuộn nếu nội dung vượt quá chiều cao */
}

/* Các lớp CSS khác */
.logo {
  border-radius: 50%;
}

.bg-white {
  background-color: #ffffff;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.space-y-2 > * {
  margin-bottom: 0.5rem;
}

.space-y-4 > * {
  margin-bottom: 1rem;
}

.spacing-bottom {
  margin-bottom: 1rem;
}

.main-item, .item-link {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  background-color: #ffffff;
  color: #092f64;
}

.main-item:hover, .item-link:hover {
  transform: scale(1.05);
  background-color: #1E90FF;
  color: #ffffff !important;
}

.main-item span, .item-link span {
  color: inherit;
}

.main-item:hover span, .item-link:hover span {
  color: #ffffff;
}

.main-item .arrow {
  transition: transform 0.3s ease;
}

.main-item.active .arrow {
  transform: rotate(180deg);
}
