/* Base Styles */
body {
  font-family: 'Arial', sans-serif;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.hidden.open {
  max-height: 700px; /* Hoặc giá trị lớn hơn để đảm bảo đủ chiều cao */
}

.logo {
  border-radius: 50%;
}

.bg-white {
  background-color: #ffffff;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add the spacing between sections */
.space-y-2 > * {
  margin-bottom: 0.5rem;
}

.space-y-4 > * {
  margin-bottom: 1rem;
}

/* Custom spacing for paragraphs */
.spacing-bottom {
  margin-bottom: 1.8rem; /* Khoảng cách giữa các đoạn văn */
}

/* Hover effects for main items and links */
.main-item {
  padding: 12px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: bold; /* Sử dụng độ đậm chữ rõ ràng hơn nếu cần */
  background-color: #ffffff;
  color: #092f64;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* Styles for sub-items (same as main items) */

.item-link {
  padding: 12px;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: bold; /* Đảm bảo độ đậm chữ giống nhau */
  background-color: #ffffff;
  color: #092f64;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.main-item:hover, .item-link:hover {
  transform: scale(1.05);
  background-color: #1E90FF;
  color: #ffffff !important;
}

.main-item span, .item-link span {
  color: inherit;
  font-size: inherit; /* Đảm bảo kế thừa kích thước chữ từ cha */
  font-weight: inherit; /* Đảm bảo kế thừa độ đậm chữ từ cha */
}

.main-item .arrow {
  transition: transform 0.3s ease;
}

.main-item.active .arrow {
  transform: rotate(180deg);
}

.main-item.active, .item-link.active {
  background-color: #1E90FF;
  color: #ffffff;
}
